/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default; 
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

$flag-icon-css-path: '../assets/images/flags' !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

@import "../../bower_components/flag-icon-css/sass/flag-icon";


@import "Accueil/accueil";

// added via yo m-ionic:component subgenerator
@import '../components/mini/mini-component';
