/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default; 
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css



  .royal-back{
	background-color: $royal;
}

  .accueil-menu-size{
	height: 200px;
}

  .acceuil-image-size{
	height:150px;
}

  .menu-content{
	text-align: center;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
