  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>

      <ion-item class="item item-divider">
        Some basic checks
      </ion-item>
      <ion-item class="item item-icon">
        icons working?
        <i class="icon ion-checkmark-circled"></i>
      </ion-item>
      <ion-item class="item item-thumbnail">
        images working?<br>
        <img width="75" src="main/assets/images/yo@2x.png">
      </ion-item>
      <ion-item class="item">{{ctrl.someData.binding}}</ion-item>
      <ion-item class="item item-divider">Environment variables:</ion-item>
      <ion-item class="item item-text-wrap">
        <pre>{{ctrl.ENV | json}}</pre>
      </ion-item>
      <ion-item class="item item-divider">Build variables:</ion-item>
      <ion-item class="item item-text-wrap">
        <pre>{{ctrl.BUILD | json}}</pre>
      </ion-item>
      <ion-item class="item item-divider">Device:</ion-item>
      <ion-item class="item item-text-wrap">
        <pre>{{ctrl.device | json}}</pre>
      </ion-item>

      <!-- password -->
      <ion-item class="item item-divider">Password Test:</ion-item>
      <ion-item class="item item-text-wrap">
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password"
            ng-model="ctrl.password.input"
            ng-change="ctrl.grade()">
        </label>
      </ion-item>
      <ion-item class="item item-text-wrap">
        Strength
        <span class="badge"
          ng-class="{
            'badge-assertive': ctrl.password.strength === 'weak',
            'badge-balanced': ctrl.password.strength === 'strong',
            'badge-energized': ctrl.password.strength === 'medium'
          }">{{ctrl.password.strength}}</span>
      </ion-item>

      <!-- proxy -->
      <ion-item class="item item-divider">Proxy:</ion-item>
      <ion-item class="item item-thumbnail">
        <button class="button button-block button-dark"
          ng-click="ctrl.proxyTest()">
          Test Proxy
        </button>
        {{ctrl.proxyState}}<br>
        {{ctrl.proxyRequestUrl}}
{{yes}}
      </ion-item>

    </ion-list>

  </ion-content>
