<ion-grid>
  <ion-row>
    <ion-col size="6">

<div class="menu-content accueil-menu-size">
 <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Bus-logo.svg/1200px-Bus-logo.svg.png" class="acceuil-image-size"></ion-img>
<ion-text color="primary">
        <h3>Arrêts de bus</h3>
</ion-text>
</div>

    </ion-col>
     <ion-col size="6">
<div class="menu-content accueil-menu-size">
 <ion-img src="https://image.flaticon.com/icons/png/512/50/50565.png" class="acceuil-image-size"></ion-img>
<ion-text color="primary">
        <h3>Metro</h3>
</ion-text>
</div>
    </ion-col>
  </ion-row>

  <ion-row class="accueil-menu-size"> 
    <ion-col size="6" >
<div class="menu-content accueil-menu-size">
 <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Logo_LEveloSTAR_Rennes.svg/1024px-Logo_LEveloSTAR_Rennes.svg.png" class="acceuil-image-size"></ion-img>
<ion-text color="primary">
        <h3>Vélo</h3>
</ion-text>
</div>
    </ion-col>
     <ion-col size="6">
<div class="menu-content accueil-menu-size">
 <ion-img src="https://cdn0.iconfinder.com/data/icons/love-and-romance-cool-vector-2/128/85-512.png" class="acceuil-image-size"></ion-img>
<ion-text color="primary">
        <h3>Favoris</h3>
</ion-text>
</div>
    </ion-col>
  </ion-row>
   </ion-grid>
