    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
 <ion-header collapse="condense" class="royal-back">
    <ion-toolbar>

      <ion-title size="large">Transport Rennes</ion-title>
<ion-buttons slot="primary">
          <ion-button>
            <span class="flag-icon flag-icon-gb"></span>
          </ion-button>
</ion-buttons>
    </ion-toolbar>
  </ion-header>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>
